{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
  Sign in
{% endblock %}

{% block body_block %}
  <div class="jumbotron">
    <h1 class="display-3">Sign in</h1>
  </div>
  <div class="row">
    <form class="col-2" role="form" action="" method="post">
      <h2>Please sign in</h2>
      {% csrf_token %}
      <fieldset>
        {% for field in form %}
          <div class="form-group {% if field.errors %}errors{% endif %}">
            <label class="form-control-label">{{ field.label }}</label>
            <div class="form-control-plaintext">
              {{ field }}
              {% for error in field.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </fieldset>
      <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" value="Submit">Sign in</button>
    </form>
  </div>
  <div class="row">
    <p class="col-2">
      Not a member?
      <a href="{% url 'registration_register' %}">Register Here</a>
    </p>
  </div>
{% endblock %}
