{% extends 'rango/base_bootstrap.html' %}
{% load static %}

{% block title_block %}
  Registration
{% endblock %}

{% block body_block %}
  <h1 class="jumbotron">Register Here</h1>
  <form action="" method="post">
    {% csrf_token %}
    <fieldset>
      {% for field in form %}
        <div class="form-group {% if field.errors %}errors{% endif %}">
          <label class="form-control-label mb-0">{{ field.label }}</label>
          <div class="form-control-plaintext">
            {{ field }}
            {% for error in field.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </fieldset>
    <button class="btn btn-primary mt-2" type="submit" name="submit">Register</button>
  </form>
{% endblock %}