{% extends 'rango/base_bootstrap.html' %}
{% load static %}

{% block title_block %}
  Add page to {{ category }}
{% endblock %}

{% block body_block %}
  <h1 class="jumbotron">Add Page</h1>
  {% if category %}
    <form id="page_form" method="post" action="{% url 'add_page' category.slug %}">
      <h2>Add page to {{ category }}</h2>
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {% if forloop.counter == 1 %}
          <input class="col-2 form-control mb-1" type="text" name="title" maxlength="128" required id="id_title"
                 placeholder="Some Title"/>
        {% else %}
          <input class="col-2 form-control" type="url" name="url" maxlength="200" required id="id_url"
                 placeholder="http://example.com/"/>
        {% endif %}
      {% endfor %}
      <button class="btn btn-primary mt-2" type="submit" name="submit">Create page</button>
    </form>
    <p><a href="{{ category.get_url }}">Back to category contents</a></p>
  {% else %}
    <p>The specified category does not exist!</p>
    <a href="{% url 'index' %}">Home</a>
  {% endif %}
{% endblock %}
