<ul class="nav nav-pills flex-column">
  {% if cats %}
    {% for cat in cats %}
      {% if cat == act_cat %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ cat.get_url }}">{{ cat }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ cat.get_url }}">{{ cat }}</a>
        </li>
      {% endif %}
    {% endfor %}
  {% else %}
    <li class="alert">There are no categories present.</li>
  {% endif %}
</ul>
