{% extends 'rango/base_bootstrap.html' %}
{% load static %}

{% block title_block %}
  Sing in
{% endblock title_block %}

{% block body_block %}
  <h1>Log into your account</h1>
  <form id="login_form" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <p>
      <label for="id_username">Username:</label>
      <input class="form-control" id="id_username" type="text" name="username" required autofocus>
    </p>
    <p>
      <label for="id_password">Password:</label>
      <input class="form-control" id="id_password" type="password" value="" name="password" required>
    </p>
    <input type="submit" value="Submit" name="submit">
  </form>
{% endblock %}