{% extends 'rango/base_bootstrap.html' %}
{% load static %}

{% block title_block %}
  User's Profile
{% endblock %}

{% block body_block %}
  <p>{{ user.username }}</p>
  <p>{{ user.email }}</p>
  {% if user_profile %}
    {% if user_profile.picture %}
      <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" alt="Profile picture">
    {% endif %}
    {% if user_profile.website %}
      <p>{{ user_profile.website }}</p>
    {% endif %}
  {% endif %}
  <p><a href="{% url 'edit_profile' %}">Edit profile</a></p>
  <p><a href="{% url 'auth_password_change' %}">Change password</a></p>
{% endblock %}