{% extends 'rango/base_bootstrap.html' %}
{% load static %}

{% block title_block %}
  User {{ username }}
{% endblock %}

{% block body_block %}
  <h1 class="jumbotron">Profile</h1>
  {% if profile_owner.userprofile.picture %}
    <img src="{{ MEDIA_URL }}{{ profile_owner.userprofile.picture }}" alt="Profile picture">
  {% endif %}
  <p>User: {{ profile_owner }}</p>
  <p>Email: {{ profile_owner.email }}</p>
  {% if profile_owner.userprofile.website %}
    <p>Website: {{ profile_owner.userprofile.website }}</p>
  {% endif %}
  {% if user.is_authenticated and user == profile_owner %}
    <p><a href="{% url 'edit_profile' %}">Edit profile</a></p>
    <p><a href="{% url 'auth_password_change' %}">Change password</a></p>
  {% endif %}
{% endblock %}