{% extends 'rango/base_bootstrap.html' %}
{% load static %}

{% block title_block %}
  Search
{% endblock %}

{% block body_block %}
  <h1 class="jumbotron">Search</h1>

  <form method="get" action="{% url 'search' %}">
    <input class="form-control mr-sm-2 mb-1" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search"
           aria-label="Search">
    <span class="text-info mr-1">Show:</span>
    <label for="category-box">categories</label>
    <input class="ml-1" id="category-box" name="categories" value="1" type="checkbox">
    <label class="ml-2" for="page-box">pages</label>
    <input class="ml-1" id="page-box" name="pages" value="1" type="checkbox">
    <button class="btn btn-outline-success my-2 my-sm-0 d-block" type="submit">Search</button>
  </form>
  <div class="mt-1">
    {% if request.GET.q %}
      {% if categories or pages %}
        <h3>Results</h3>
        {% if categories %}
          <p>Categories:</p>
          <ul>
            {% for category in categories %}
              <li>
                <a href="{{ category.get_url }}">{{ category }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if pages %}
          <p>Pages:</p>
          <ul>
            {% for page in pages %}
              <li>
                <a href="{{ page.get_url }}">{{ page }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% else %}
        <p>No results found.</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
