{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
  Search
{% endblock %}

{% block body_block %}
  <h1 class="jumbotron">Search</h1>

  <form method="get" action="{% url 'search' %}">
    <input class="form-control mr-sm-2 mb-1" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search"
           aria-label="Search">
    <div class="row">
      <div class="col-2">
        <p class="text-info mb-0">Search everywhere:</p>
        <label for="category-box">Categories</label>
        <input class="ml-1" id="category-box" name="categories" value="1" type="checkbox">
        <label class="ml-2" for="page-box">Pages</label>
        <input class="ml-1" id="page-box" name="pages" value="1" type="checkbox">
      </div>
      <div class="col-1 pl-4">
        <h3 class="pt-1">or</h3>
      </div>
      <div class="col-2">
        <label class="text-info mb-0" for="category-select">Search only:</label>
        <select id="category-select" name="category"> <!--Supplement an id here instead of using 'name'-->
          <option disabled value selected>Select category</option>
          {% for category in category_list %}
            <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0 d-block" type="submit">Search</button>
  </form>
  <div class="mt-1">
    {% if request.GET.q %}
      {% if categories or pages %}
        <hr>
        <h3>Results</h3>
        {% if categories %}
          <p>Categories:</p>
          <ul>
            {% for category in categories %}
              <li>
                <a href="{{ category.get_url }}">{{ category }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if pages %}
          <p>Pages:</p>
          <ul>
            {% for page in pages %}
              <li>
                <a href="{{ page.get_url }}">{{ page }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% else %}
        <p>No results found.</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
